.title{
    font-family: 'Almendra SC', serif;
    font-size: 3vw;
    color: white;
    margin-bottom: 3vh;
}

.title > div >span{
    font-weight: bold;
    font-size: 3.5vw;
}

#forJS{
    opacity: 0;
    transition: 2s;
}

@media screen and (max-width: 720px){
    .title{
        font-family: 'Almendra SC', serif;
        font-size: 6vw !important;
        color: white;
        margin-bottom: 1.125vh;
    }
    
    .title > span{
        font-size: 8vw !important;
        font-weight: bold;
    }
}