#introBigBox{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#introduction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.introTitleLoc{
    padding-right: 60vw;
} 

.intro{
    background-color: #f2f0dd;
    width: 87.5vw;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5vh 0 7.5vh 0;
}

.introRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro > div{
    width: 40%;
    font-size: 1.825vw;
    color: #727272;
    line-height: 5vh;
    margin-left: 2em;
}

.intro > div > div{
    text-indent: 2em;
}

.intro > div > div > span{
    border-bottom: 1px #727272 solid;
}

.introRight > img{
    width: 70%;
}

@media screen and (max-width: 720px){
    #introBigBox{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    .introTitleLoc{
        padding: 0;
    } 

    .intro{
        padding: 3vh 0 3vh 0;
    }
    
    .intro > div{
        margin: 0 auto;
        width: 90%;
        font-size: 3.5925vw;
        align-items: center;
        line-height: 3.25vh;
    }

    .introRight{
        display: none;
    }
}