#introBigBox{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#introContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.introTitleLoc{
    padding-right: 60vw;
} 

.intro{
    background-color: #f2f0dd;
    width: 95vw;
    height: 80vh;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 0 5vh 0;
}

.introRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro > div{
    width: 40%;
    font-size: 1.825vw;
    color: #727272;
    line-height: 5vh;
}

.intro > div > span{
    border-bottom: 1px #727272 solid;
}

.introRight > img{
    width: 100%;
}

@media screen and (max-width: 720px){
    #introBigBox{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    .introTitleLoc{
        padding: 0;
    } 

    .intro{
        height: 52.5vh;
        padding: 0;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    .intro > div{
        margin: 0 auto;
        width: 90%;
        font-size: 3.5925vw;
        align-items: center;
        line-height: 3.25vh;
    }

    .introRight{
        display: none;
    }
}