.Container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subtitle{
	margin-top: 5vh;
	font-size: 5vw;
	text-align: center;
	border-bottom: 2px solid rgb(156, 99, 99);
}

.Container ul{
	width: 80%;
	font-size: 22px;
	padding-left: 0;
	border-left: 2px solid rgb(156, 99, 99);
}

.Container ul div{
	padding-left: 5vw;
	font-size: 26px;
}

.Container ul li{
	padding-top: 6px;
	padding-bottom: 6px;
	list-style: none;
	padding-left: 10vw;
}

.Container ul li a{
	font-size: 22px;
}

@media(max-width: 768px)
{
	.Container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.subtitle{
		font-size: 12.5vw;
		text-align: center;
		border-bottom: 2px solid rgb(156, 99, 99);
	}

	.Container ul{
		width: 80%;
		font-size: 22px;
		padding-left: 0;
		border-left: 2px solid rgb(156, 99, 99);
	}
	
	.Container ul div{
		padding-left: 5vw;
		font-size: 26px;
	}
	
	.Container ul li{
		padding-top: 6px;
		padding-bottom: 6px;
		list-style: none;
		padding-left: 10vw;
	}
	
	.Container ul li a{
		font-size: 22px;
	}
}