#notes{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.notesTitleLoc{
    margin-left: 7.5vw;
}

.notesBox{
    width: 95vw;
    height: 30vh;
    background-color: #f2f0dd;
    border-radius: 24px;
    color: #363636;
    margin: 0 auto;
    font-size: 2vw;
    line-height: 30vh;
    margin-bottom: 10vh;
}

.notesBox > div{
    padding-left: 7.5vw;
}

@media screen and (max-width: 720px){
    #notes{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .notesTitleLoc{
        text-align: center;
        margin-left: 0;
    }
    
    .notesBox{
        height: 10vh;
        width: 85vw;
        border-radius: 12px;
        font-size: 4vw;
        margin-bottom: 3vh;
        line-height: 10vh;
    }
}