#projects{
    margin-top: 10vh;
    font-size: 2.25vw;
}

#projects > div > a > img{
    width: 26vw;
    border-radius: 12px;
}

.proTitleLoc{
    text-align: center;
}

.blocks{
    width: 65vw;
    height: 50vh;
    border-radius: 18px;
    margin-bottom: 10vh;
    background-color: #f2f0dd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blockright{
    background-color: #fffbdb;
    flex-direction: row-reverse;
    float: right;
}

.paragraphContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.paragraphTitle{
    font-size: 1.9vw;
    font-weight: bold;
    color: #363636;
    margin-bottom: 1.5vh;
}

.paragraphTitle > a{
    text-decoration: none;
    color: #363636;
    border-bottom: 1px #363636 solid;
}

.paragraphContent{
    font-size: 1.35vw;
    font-weight: normal;
    color: #565656;
}

.paragraphContent > a{
    text-decoration: none;
    color: #565656;
    border-bottom: 1px #565656 solid;
}

.paragraphBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphBtnContainer > a{
    text-decoration: none;
    font-size: 1vw;
    height: 3.5vh;
    margin-top: 2vh;
    margin-right: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    line-height: 3.5vh;
    background-color: #694635;
    border: 2px #694635 solid;
    color: #F2F0DD;
    border-radius: 24px;
}

@media screen and (max-width: 720px){
    #projects{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    #projects > div > a{
        width: 50vw;
    }
    
    #projects > div > a > img{
        width: inherit;
    }

    .proTitleLoc{
        margin: 0;
    }
    
    .blocks{
        width: 100vw;
        height: 25vh;
        margin-bottom: 3vh;
        border-radius: 12px;
    }
    
    .blockright{
        transform: translate(0%, 0%);
    }
    
    .paragraphContainer > div{
        line-height: 1.85vh;
    }
    
    .paragraphTitle{
        font-size: 3.5vw;
        padding-bottom: 0vh;
    }
    
    .paragraphContent{
        font-size: 2.25vw;
    }
    
    .paragraphContent > a{
        border-bottom: 0.5px #484848 solid;
        border-radius: 0;
    }

    .paragraphBtnContainer-margin-top-more{
        margin-top: 0.5vh;
    }

    .paragraphBtnContainer > a{
        font-size: 2vw;
        height: 1vh;
        line-height: 1vh;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}