#projects{
    margin-top: 10vh;
    font-size: 2.25vw;
}

#projects > div > a > img{
    width: 26vw;
    border-radius: 12px;
}

.proTitleLoc{
    text-align: center;
}

.blocks{
    width: 80vw;
    height: auto;
    border-radius: 0 24px 24px 0;
    padding: 6vh 0 6vh 0;
    margin-bottom: 10vh;
    background-color: #f2f0dd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blockright{
    background-color: #fffbdb;
    flex-direction: row-reverse;
    float: right;
    border-radius: 24px 0 0 24px !important;
}

.paragraphContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.paragraphTitle{
    font-size: 1.9vw;
    font-weight: bold;
    color: #363636;
    margin-bottom: 1.5vh;
}

.paragraphTitle > a{
    text-decoration: none;
    color: #363636;
    border-bottom: 1px #363636 solid;
}

.paragraphContent{
    font-size: 1.35vw;
    font-weight: normal;
    color: #565656;
    text-align: justify;
}

.paragraphBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphBtnContainer > a{
    text-decoration: none;
    font-size: 1vw;
    height: 3.5vh;
    margin-top: 2vh;
    margin-right: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    line-height: 3.5vh;
    background-color: #694635;
    border: 2px #694635 solid;
    color: #F2F0DD;
    border-radius: 24px;
}

@media screen and (max-width: 720px){
    #projects{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    #projects > div > a{
        width: 80vw;
    }
    
    #projects > div > a > img{
        width: 80vw;
    }

    .proTitleLoc{
        margin: 0;
    }
    
    .blocks{
        width: 100vw;
        height: auto;
        margin-bottom: 3vh;
        border-radius: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.5vh 0 2.5vh 0;
    }

    .blockright{
        border-radius: 0 0 0 0 !important;
        transform: translate(0%, 0%);
    }
    
    .paragraphContainer{
        width: 80vw;
    }

    .paragraphContainer > div{
        line-height: auto;
    }
    
    .paragraphTitle{
        font-size: 5.5vw;
        padding: 1vh 0 1vh 0;
        margin: 0 auto;
    }
    
    .paragraphContent{
        font-size: 4vw;
    }
    
    .paragraphBtnContainer-margin-top-more{
        margin-top: 1vh !important;
    }

    .paragraphBtnContainer{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: 0 auto;
    }

    .paragraphBtnContainer > a{
        font-size: 1vw !important;
        height: auto;
        padding: 0.25vh 5vw 0.25vh 5vw;
        margin: 0.5vh 0 0.5vh 0;
        width: 50vw;
    }
}