body{
	font-family: 'Mali', cursive; 
	background-color: rgb(241, 233, 233);
	margin: 0 auto;
}
/* navigation bar */
.navbar{
	overflow: hidden;
	background-color: rgb(199, 211, 197);
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
	float: left;
}

.navbar li a{
	display: block;
    color: black;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
	font-size: 28px;
}

.navbar li:first-child{
	font-weight: bold;
    text-align: center;
    padding: 24px 48px;
	font-size: 28px;
}

.navbar li a:hover{
	transition: 0.3s;
	background-color: rgb(227, 233, 226);
	transform: scale(0.875);
}

.active{
	background-color: rgb(157, 177, 154);
}

.border-bottom{
	border-bottom: 2px solid rgb(156, 99, 99);
}

.underLine{
	border-bottom: 2px solid rgb(156, 99, 99);
	width: 80vw;
	text-align: center;
}

/* timer */
.timerBox{
	display: flex;
	justify-content: center;
	align-items: center;
}
.timerBox p{
	margin-top: 3vh;
	padding: 1vw 3vw; 
	width: 75vw;
	background: rgb(246, 228, 228);
	border-radius: 24px;
	font-size: 1.75vw;
	font-weight: 400;
	color: rgb(69, 69, 69);
	text-align: right;
}

/* News */
.newsContainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.newsContainer div{
	padding: 3vw; 
	width: 75vw;
	background: rgb(224, 224, 235);
	border-radius: 24px;
	font-size: 1.75vw;
	font-weight: 300;
	line-height: 5.2vh;
}

.newsContainer p{
	margin: 0 auto;
	font-size: 3.5vw;
	font-weight: 500;
}

.newsContainer ul{
	list-style: none;
}

@media(max-width: 768px)
{
	/* navigation bar */
	.navbar{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgb(199, 211, 197);
		list-style-type: none;
	}
	
	.navbar li a{
		padding-left: 37.5vw;
		padding-right: 37.5vw;
		text-decoration: none;
		font-size: 6vw;
	}

	.navbar li:first-child{
		font-weight: bold;
		text-align: center;
		padding: 24px 48px;
		font-size: 8vw;
	}

	.navbar li a:hover{
		transition: 0.3s;
		background-color: rgb(227, 233, 226);
		transform: scale(0.875);
	}

	.active{
		width: 100%;
		background-color: rgb(157, 177, 154);
	}

	/* timer */
	.timerBox{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.timerBox p{
		margin-top: 3vh;
		padding: 1vw 3vw; 
		width: 75vw;
		background: rgb(246, 228, 228);
		border-radius: 24px;
		font-size: 5.384vw;
		font-weight: 400;
		color: rgb(69, 69, 69);
		text-align: right;
	}

	/* News */
	.newsContainer{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.newsContainer div{
		padding: 3vw; 
		width: 75vw;
		background: rgb(224, 224, 235);
		border-radius: 24px;
		font-size: 5.384vw;
		font-weight: 300;
		line-height: 5.2vh;
	}

	.newsContainer div p{
		margin-left: 5vw;
		margin-top: 1.5vh;
		font-size: 10vw;
		font-weight: 500;
	}

	.newsContainer div ul{
		list-style: none;
	}
	
	.newsContainer div ul li{
		margin-bottom: 1vh;
	}
}