#topBox{
    padding-top: 7.5vh;
    opacity: 0;
    transition: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topBox > div{
    font-family: 'Norican', cursive;;
    font-size: 3.5vw;
    color: #FFFFFF;
    padding-right: 5vw;
    font-weight: 500;
}

#topBox > div > div{
    padding-left: 7vw;
    font-weight: 500;
}

#topBox > div > div > span{
    color: #f0eccd;
    font-size: 5vw;
}

#topBox > img{
    width: 25%;
}

@media screen and (max-width: 720px){
    #topBox{
        padding-top: 5vh;
    }

    #topBox > div{
        font-size: 7vw;
    }

    #topBox > div > div > span{
        font-size: 9vw;
    }

    #topBox > img{
        width: 40%;
    }
}